{template 'header'}

<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">添加卡券</div>
        <div class="panel-body">
            <form action="{php echo $this->createWeburl('goods');}" method="post" class="form-horizontal" id="myform">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">卡券名称</label>
                    <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
                        <input class="form-control" name="goods_name" placeholder="卡券名称" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属于商户:</label>
                    <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
                        <select class="select valid" name="shop_id" id="shop_id" size="1" aria-invalid="false" style="width: 450px;">
                            {loop $shop  $item}
                            <option value="{$item['id']}">{$item['shop_name']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="" >
                        <input type="hidden" name="op" value="add">
                        <input type="submit" name="submit" id="submit" value="提交" class="btn btn-primary">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



